numpy>=1.26.4
pandas>=2.2.2
pyarrow>=16.1.0
PyYAML>=6.0.1
scikit-learn>=1.5.1
torch>=2.4.0
pytorch-lightning>=2.3.3
pytorch-forecasting>=1.0.0
plotly>=5.22.0
matplotlib>=3.9.0
requests>=2.32.3
requests-cache>=1.2.1
beautifulsoup4>=4.12.3
lxml>=5.2.2
holidays>=0.35
fastapi
uvicorn
PyJWT>=2.8.0
python-dotenv>=1.0.0
pydantic[email]>=2.0.0
passlib[bcrypt]>=1.7.4
