numpy>=1.26.4,<3.0
pandas>=2.2.2,<3.0
pyarrow>=20.0
PyYAML>=6.0.1,<7.0
fastapi>=0.115.0,<1.0
email-validator>=2.2.0,<3.0
requests>=2.32.0,<3.0
requests-cache>=1.2.1,<2.0
beautifulsoup4>=4.12.3,<5.0
lxml>=5.2.2,<6.0
PyJWT>=2.9.0,<3.0
holidays>=0.59,<1.0
lightning>=2.3.3,<3.0
scikit-learn>=1.5.1,<2.0
torch>=2.4.0,<3.0
pytorch-lightning>=2.3.3,<3.0
pytorch-forecasting>=1.0.0,<2.0
streamlit>=1.36.0,<2.0
plotly>=5.22.0,<6.0
matplotlib>=3.9.0,<4.0
uvicorn>=0.30.0,<1.0